
html, body {
    height: 100%;   

}

body {
    background-color: black;
    display:    flex;
    justify-content:    center;
    align-items:    center;
    
}
#viewport {
    width:  640px;
    height: 256px;
    position:   relative;
    overflow-x: auto;
    background-image:   url('../images/water0.png');
    
}
#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;  
}
#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}
#ship {
    width: 128px;
    height: 64px;
    background-image: url('../images/ship.png');
    position: absolute;
  }
#sailbutton {
    border: 0;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 250px;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}
#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }
#message {
    border: 0;
    background-color: white;
    border-top: 3px solid black;
    padding: 0 ,0, 0 ,16px;
    position: sticky;  
    top: 250px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
#updateMessage {
    display: flex;
    flex-direction: column;
    border: 0;
    color: white;
    background-color: ;
    border-top: 3px solid black;
    padding: 50px;
    position: absolute;
    top: 0;  
    bottom: 800px;
    right: 0px;
    width: 40%;
    height: 0px;
    font-family: 'Press Start 2P', cursive;
    text-align: right;
}
